.petcard {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 3px 6px rgba(65, 65, 65, 0.16), 0 3px 6px rgba(65, 65, 65, 0.16);

.img-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
  height: 40px;
  width: 35px;
  }

  h6 {
    color: #787878
  }

  a {
    text-decoration: none;
    color: black;
  }

    .more-btn {
      width: 100%;
      margin-top: 5px;
      display: inline-block;
      text-align: center;
      padding: 7px 10px;
      border-radius: 11px;
      background-color: #f2f2f2;
      transition: 1s;

      &:hover {
        background-color: #d0d0d0;
      }
    }

}
